version: '3.9'

services:
    proxy:
        image: nginx
        volumes:
            - ./nginx_configs:/etc/nginx/conf.d
            - ./proxy/:/usr/share/nginx/html/:ro
        ports:
            - '8080:80'
        networks:
            - internal
        container_name: proxy
    flashisdead:
        build:
            context: ./flashisdead
            dockerfile: ./docker/Dockerfile
        ports:
            - '4723:4723'
        volumes:
            - ./flashisdead/build:/app/flashisdead
        environment:
            - PORT=4723
        hostname: flashisdead
        container_name: flashisdead
        networks:
            - internal
    tinytuba:
        build:
            context: ./tinytuba
            dockerfile: ./docker/Dockerfile
        ports:
            - '8524:8524'
        volumes:
            - ./tinytuba/build:/app/tinytuba
        environment:
            - PORT=8524
        hostname: tinytuba
        container_name: tinytuba
        networks:
            - internal

networks:
    internal:
